body {
  font-family: "Exo 2", sans-serif;
  margin: 0;
  background-color: rgb(230, 221, 220);
}
section {
  height: 500px;
  padding-bottom: 80px;
}

h1 {
  font-size: 50px;
  color: tomato;
}
h2 {
  font-size: 40px;
}
p {
  text-align: justify;
  color: rgb(39, 21, 30);
}

.top-info {
  width: 35%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.top-info img {
  width: 100%;
}
.top-info1 {
  width: 30%;
  float: left;
  margin-left: 1%;
  padding-left: 1%;
}
.top-info1 img {
  width: 100%;
}

.latest-exp h2,
h3,
h5 {
  text-align: center;
}

.latest-exp p {
  margin: 0 400px;
  margin-bottom: 20px;
  text-align: center;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(rgb(190, 97, 61), tomato);
  padding: 10px 20px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.btn {
  text-decoration: none;
  background-image: linear-gradient(rgb(190, 97, 61), tomato);
  padding: 10px 20px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.link-button:hover,
.btn:hover,
.email-link:hover {
  color: rgb(253, 9, 9);
  background-color: rgb(202, 103, 86);
}
img:hover {
  opacity: 0.8;
}

.single-experience {
  box-shadow: 10px 10px 40px rgb(87, 51, 5);
  border-radius: 5px;
  height: 60%;
  background-color: white;
}
.msg {
  text-decoration: none;
  background-image: linear-gradient(rgb(190, 97, 61), tomato);
  margin: 0 400px;
  padding: 25px 20px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}

.email-link {
  text-decoration: none;
  color: rgb(190, 217, 233);
  font-size: 20px;
  margin-left: 130px;
}
footer p {
  background-color: chocolate;
  padding: 10px;
  margin: 0 10px;
  text-align: center;
  font-size: 15px;
}
